jiaguoqing.ml {
	encode gzip
	log {
		level debug
		output file /var/log/caddy/access.log
	}

	file_server {
		root /var/www/jiaguoqing.ml
	}

	reverse_proxy /725b69c4-11a1-493b-87b1-1417da855e62 h2c://127.0.0.1:14597
}

chat.jiaguoqing.ml {
	encode gzip
	reverse_proxy localhost:3002
}

staging.jiaguoqing.ml {
	reverse_proxy localhost:7777
}

prod.jiaguoqing.ml {
	reverse_proxy localhost:9999
}