# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

prod-hk.cxyds.top {
	reverse_proxy localhost:9999
}

staging-hk.cxyds.top {
	reverse_proxy localhost:7777
}

hk.cxyds.top {
	encode gzip
	log {
		level debug
		output file /var/log/caddy/access.log
	}

	route {
		file_server /*.txt {
			root /var/www/jiaguoqing.ml/
		}

		file_server /baidu_verify_codeva-*.html {
			root /var/www/jiaguoqing.ml/
		}

	        reverse_proxy /* https://guoqingxibei.github.io {
			header_up Host {http.reverse_proxy.upstream.hostport}
        	}
	}
}

v2ray.cxyds.top {
	encode gzip
        log {
                level debug
                output file /var/log/caddy/access.log
        }
	route {
		# reverse_proxy /725b69c4-11a1-493b-87b1-1417da855e62 h2c://127.0.0.1:14597
		reverse_proxy /e3a599a3-b2f4-4d1e-b5fc-bafed6b66d93 h2c://127.0.0.1:60234
	}
}

brother.cxyds.top {
        log {
                level debug
                output file /var/log/caddy/access.log
        }
	route {
                file_server /*.txt {
                        root /var/www/brother.cxyds.top/
                }

		handle_path /shop* {
			#root * /var/www/brother.cxyds.top/shop/
			root * /root/brother-shop/
			try_files {path} /
			file_server
		}

		reverse_proxy /* localhost:6666
	}
}

brother-staging.cxyds.top {
        route {
                file_server /*.txt {
                        root /var/www/brother-staging.cxyds.top/
                }
        }
}
# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile