# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

# uncle official account
prod-hk.cxyds.top uncle.cxyds.top {
	route {
		file_server /*.txt {
			root /root/resources/
		}

		handle_path /answer* {
			root * /root/answer-web/
			try_files {path} /
			file_server
		}

		reverse_proxy localhost:9999
	}
}

# brother official account
brother.cxyds.top {
	log {
		level debug
		output file /var/log/caddy/access.log
	}
	route {
		file_server /*.txt {
			root /root/resources/
		}

		handle_path /shop* {
			root * /root/shop-web/
			try_files {path} /
			file_server
		}

		handle_path /answer* {
			root * /root/answer-web/
			try_files {path} /
			file_server
		}

		reverse_proxy /* localhost:6666
	}
}

staging.cxyds.top {
	reverse_proxy localhost:7777

	handle_path /answer* {
		root * /root/answer-staging-web/
		try_files {path} /
		file_server
	}
}

# blog
hk.cxyds.top {
	encode gzip
	log {
		level debug
		output file /var/log/caddy/access.log
	}

	route {
		reverse_proxy /* https://guoqingxibei.github.io {
			header_up Host {http.reverse_proxy.upstream.hostport}
		}
	}
}

# v2ray proxy
v2ray.cxyds.top {
	encode gzip
	log {
		level debug
		output file /var/log/caddy/access.log
	}
	route {
		# reverse_proxy /725b69c4-11a1-493b-87b1-1417da855e62 h2c://127.0.0.1:14597
		reverse_proxy /e3a599a3-b2f4-4d1e-b5fc-bafed6b66d93 h2c://127.0.0.1:60234
	}
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
